@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<Link rel="stylesheet" href="~/css/body.css" type="text/css" />
<div class="center" id="contact">
    <h3>@ViewData["Message"]</h3>
    <img src="http://i0.kym-cdn.com/entries/icons/mobile/000/013/564/doge.jpg" alt="ASP.NET" class="img-responsive" style="width:40%" />
    <address>
        Not Microsoft Way<br />
        Seattle, WA 98109<br />
        <abbr title="Phone">P:</abbr>
        206.555.5555
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:ecaoile@my.hpu.edu">ecaoile@my.hpu.edu</a><br />
        <strong>Marketing:</strong> <a href="mailto:ecaoile@my.hpu.edu">ecaoile@my.hpu.edu</a>
    </address>
</div>